.todoForm {
	width: 80%;
}
.todoForm-label {
	display: block;
	text-align: left;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding-bottom: 0.5rem;
}

.todoForm-items {
	display: flex;
	flex-wrap: wrap;
}

.todoForm-input {
	font-size: 1.4rem;
	height: 2.5em;
	border-radius: 5px;
	border: none;
	flex-basis: 100%;
	padding-left: 0.75rem;
}

.todoForm-input:focus {
	outline: red;
}

.todoForm-button-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.todoForm-button {
	margin: 1em 0.5em 0.5em;
	display: inline-block;
	padding: 0.6em 1.5em;
	background-color: #355e3b;
	color: white;
	font-weight: 700;
	border-radius: 5px;
	border: none;
	margin-left: 0.5em;
	flex-basis: 60%;

	font-size: 1.4rem;
	text-transform: uppercase;
}
